@{
    ViewBag.Title = "Home Page";
}

<form onsubmit="Home/TakeInput/">
    <select name="box">
        <option value="A1"></option>
        <option value="A2"></option>
        <option value="A3"></option>
        <option value="B1"></option>
        <option value="B2"></option>
        <option value="B3"></option>
        <option value="C1"></option>
        <option value="C2"></option>
        <option value="C3"></option>
    </select>
    <button type="submit" />
</form>