<form action="/Home/Index" id="selectedBox" method="post">
    <input type="radio" name="selectedBox" value="A2" />A2<br />
    <input type="radio" name="selectedBox" value="A3"/>A3<br />
    <button type="submit"  />
</form>

@ViewBag.A2